@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  color: #333;
}

.wrapper {
  min-width: 1050px;
  min-height: 100vh;
  background-color: #141414;
}

h3 {
  color: #e5e5e5;
  padding: 10px 0;
}
h3:hover {
  color: #fff;
}

a {
  text-decoration: none;
}

.siginin-container {
  background-color: #efefee;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  background-color: #333;
  padding: 2% 0;
}
.siginin-container .siginin-container_column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: #fff;
  min-height: 370px;
  padding: 20px 35px;
  width: 350px;
  box-shadow: rgba(250, 250, 250, 0.85) 0 1px 2px;
  border-radius: 16px;
}
.siginin-container .siginin-container_column .logo {
  width: 8rem;
  height: 4rem;
  background-color: #000;
  place-self: center;
}
.siginin-container .siginin-container_column .logo img {
  height: 100%;
  width: 100%;
}
.siginin-container .siginin-container_column .siginin-container_column-header {
  padding: 20px 0;
}
.siginin-container .siginin-container_column .siginin-container_column-header h3 {
  font-weight: 550;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 0;
  color: #000;
}
.siginin-container .siginin-container_column .siginin-container_column-header span {
  font-size: 14px;
}
.siginin-container .siginin-container_column .siginin-container_column-header .err-msg {
  color: red;
  font-size: 1rem;
}
.siginin-container .siginin-container_column form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  padding: 10px 0;
}
.siginin-container .siginin-container_column form input {
  font-size: 14px;
  margin: 10px 0;
  border: none;
  outline: none;
  border-bottom: 1px solid #b3b3b2;
}
.siginin-container .siginin-container_column form input[type=submit] {
  background-color: #333;
  color: #fff;
  height: 36px;
  width: 88px;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  align-self: center;
}
.siginin-container .siginin-container_column a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.preview-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 65vh;
}
.preview-container .preview-video, .preview-container .preview-image {
  height: 100%;
  width: 100%;
}
.preview-container .preview-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
}
.preview-container .preview-overlay .name-details {
  position: relative;
  top: 35%;
  margin-left: 50px;
  display: flex;
  flex-flow: column nowrap;
}
.preview-container .preview-overlay .name-details h3 {
  color: #fff;
  font-size: 40px;
  margin: 15px 0;
}
.preview-container .preview-overlay .name-details .buttons button {
  background-color: rgba(51, 51, 51, 0.4);
  color: #fff;
  border: none;
  min-width: fit-content;
  padding: 0 25px;
  height: 50px;
  max-height: 50px;
  font-size: 18px;
  border-radius: 2px;
  margin-bottom: 15px;
  margin-right: 5px;
  align-items: center;
  cursor: pointer;
}
.preview-container .preview-overlay .name-details .buttons button:hover {
  background-color: #fff;
  color: #000;
}
.preview-container .preview-overlay .name-details .buttons button .icon {
  font-size: 18px !important;
  color: inherit;
  margin-right: 3px;
}

.preview-container.small {
  width: 230px;
  height: 129px;
  margin-right: 4px;
  display: inline-flex;
}
.preview-container.small img {
  width: 100%;
}

.preview-categories {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 50px;
}
.preview-categories .category a h3 {
  padding: 10px 0;
}
.preview-categories .category a h3:hover {
  color: #fff;
}

.entities {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.entities::-webkit-scrollbar {
  display: none;
}

.errorBanner {
  color: #fff;
  position: absolute;
  top: 25%;
  width: 100%;
  font-size: 18px;
  text-align: center;
}

.season {
  display: flex;
  flex-direction: column;
  padding: 10px 50px;
}

.videos {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.videos::-webkit-scrollbar {
  display: none;
}

.episode-container {
  display: inline-flex;
  justify-content: center;
  margin-right: 4px;
}
.episode-container .content {
  display: flex;
  flex-direction: column;
  width: 230px;
}
.episode-container .video-info {
  max-height: 200px;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.episode-container .video-info::-webkit-scrollbar {
  display: none;
}
.episode-container .video-info h4 {
  padding: 10px 0;
}
.episode-container .video-info h4, .episode-container .video-info span {
  color: #fff;
  width: 100%;
  white-space: normal;
}
.episode-container img {
  width: 230px;
  height: 129px;
  object-fit: cover;
}

.watch-container video {
  width: 100%;
}

.video-controls {
  position: absolute;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.video-controls h1 {
  color: #fff;
}
.video-controls button {
  font-size: 50px;
  padding: 50px;
  color: #fff;
  background-color: transparent;
  border: none;
}
.video-controls button:hover {
  cursor: pointer;
}
.video-controls button i {
  color: inherit;
}

/*# sourceMappingURL=index.css.map */
